h1 {
  text-align: center;
  font-family: 'Shrikhand', cursive;
  font-size: 125px;
  color: #ffffff;
  opacity:0.9;
  text-shadow:black 5px 0 5px;
  /* writing-mode: vertical-rl;
  text-orientation: mixed; */
}

h2 {
  text-align: center;
  font-family: 'Shrikhand', cursive;
  font-size: 75px;
  color: #ffffff;
  /* opacity:0.9; */
  /* writing-mode: vertical-rl;
  text-orientation: mixed; */
}

p {
  text-align: center;
}


body {
  padding: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-image: url('../img/bg2.jpg');
  background-size: 100%;
}

.btn {
  background-color: black;
  font-family: 'Shrikhand';
  margin-left: 45%;
  margin-right: 45%
}

.col-md-10 {
  margin-left: 10%;
}